.title {
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;
  justify-content: space-between;
  display: flex;
  direction: row;
  align-items: center;
}

.btn-proposal {
  height: 100%;
}
