.DApp {
  text-align: center;
}

.DApp-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .DApp-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 300px;
  }
}

.DApp-body {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #000000;
  overflow: hidden;
  position: relative;
  top: 10vh;
  min-height: 90vh;
  max-width: 960px;
}

.DApp-link {
  color: #61dafb;
}

.grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  max-width: 960px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
